.sapMText {
    font-size: 20px !important;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1>.sapUiRespGridSpanL3 {
    width: 20%;
    width: -webkit-calc(20% - 1rem);
    width: calc(20% - 1rem);
}
.sapMListTblRow {
    height: 1rem!important;
}
.topIcon { 
padding-top: 15px;	
}
.UnderImg{ 
    padding-bottom: 29px;
}
.sapDetailsTruck { 
	padding-top: 15px;
    padding-left: 40px;
}
.infobutton {
	padding-right:10px!important
}
.infobutton {
	padding-right:10px!important
}
.sapMLabel {
    font-size: 20px !important;
}
.wdfRowsize td{ 
	padding: 0.0001rem!important;
}
.sapMBtnContent {
    font-size: 20px !important;
}
.Rounding span{
    border-radius: 100%!important;
    width: 40px;
}
.Rounding {
    border-radius: 100%!important;
    width: 40px;
    padding-left: 40px;
}

.sapMObjectNumberText {
    font-size: 20px !important;
}

.sapMTitle {
    font-size: 20px !important;
}

.sapMInputBaseInner {
    font-size: 20px !important;
}

.sapMObjectNumberUnit {
    font-size: 20px !important;
}

/* dropdown in the header. after moving to the webide a fixed ID should be assigned to it */

@media only screen and (min-width: 1025px) {

	.sapMPageHeader .sapMBarRight span:nth-child(2) {
	    top: 3px;
	    position: relative;
	}
	
}

.sapMPageHeader .sapMBarRight span:last-of-type{
    top: -8px;
    position: relative;
}    

/* wizard */
.sapMFlexBoxAlignContentStretch {
	margin-top: 10px;
    margin-bottom: 4px;
}

/* header */
.sapMPageHeader {
	background-color: #EDF2F3;
}

.sapMDialogTitle {
	background-color: #EDF2F3 !important;
}

/* details screen 4 things on the top */
.sapUiRespGrid div div div:nth-child(2) span {
	font-weight: bold;	
}

.sapUiRespGrid div div div:nth-child(2) div {
	text-align: center !important;
}

/* tree */

span[data-sap-ui-icon-content] + div:first-of-type {
	visibility: collapse;
}
.sapimage_IconTransportpage {
    margin-top: 1px!important;
    margin-bottom: 4px!important;
}
div[id$='Tree'] {
	padding-left: 20px;
	padding-right: 20px;
}

/* buttons */

.sapMBtnAccept {
	background-color: #00782F !important;
    color: #FFFFFF !important;
}

.sapMBtnReject {
	background-color: #D01D0C !important;
    color: #FFFFFF !important;
}

span[id*='magnifying_glass'] {
	margin-left: 5px;
    font-size: 26px !important;
    position: relative;
    top: -6px;
    color: #00782F;
}

/* detail screen: to make the 3rd column big enough for the text */
div[id$='DetailsForm'] .sapUiRespGridSpanL5 {
	width: 25% !important;
}

div[id$='DetailsForm'] .sapUiRespGridSpanL4 {
	width: 50% !important;
}